**/bin/
**/obj/
Release/
.host-publish/
.host-publish-final/
.host-publish-test/
.host-publish-recovery/
.host-publish-final/
.packager-data-backup/
.deploy-hoisted-test/
.normalize-test-moved/
.portable-link-test/
packager.out.log
packager.err.log
packager.pid
*.user
.vs/
tools/
